:root {
    --color-background: ##75787c;
    --color-primary-lighter: #ffffff;
    --color-primary-light: #dde0e8;
    --color-primary: #000000;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-botton-home: #B8FC04;
    --color-botton-home-darker: #92c408;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary:#ffffff;
    --color-text-title: #32264D;
    --color-text-complement:#333138;
    --color-text-base: #0a0a0a;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #0a0a0a;
    --color-box-base: #eaeaea;
    --color-box-footer: #d6d6d6;
  
    font-size: 60%;
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body, #root{
      height: 100vh;
  }

  body{
      background: var(--color-background);
  }
  
  #root {
      display: flex;
      align-items: center;
      justify-content: center;
  }

body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base); 
}

.container{
    width: 90vw;
    max-width: 700px;
}

@media(min-width:700px){
    :root{
        font-size: 62.5%;
    }
}