#page-professional-list{
    width:  100vw;
    height: 100vh;
}


#search-professionals{
    margin-top: 3.2rem;
}

#search-professionals label{
    color: var(--color-text-in-primary);
}


#page-professional-list main{
    margin:  3.2rem auto;
    width: 90%;
}


@media (min-width: 700px){
    #page-professional-list{
        max-width: 100%;
    }

    #search-professionals{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }
    #search-professionals .input-block + .input-block,
    #search-professionals .select-block + .select-block {
        margin-top: 0;
    }

    #page-professional-list main{
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

}